---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.8;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1024px;

$on-palm:          600px;
$on-laptop:        800px;

@mixin font-size($sizeValue: 16) {
	font-size: $sizeValue + px;
	font-size: ($sizeValue / 10) + rem;
}



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

//#hero {
//	background: url('../img/header-2X.jpg') no-repeat center center;
//	height: 600px;
//	-webkit-background-size: cover;
//	-moz-background-size: cover;
//	-o-background-size: cover;
//	background-size: cover;
//	margin-top: -60px;
//	padding-top: 60px;
//
//	h1 {
//		margin-bottom: 0;
//	}
//}

.hero-content {
	width: 60%;
	margin-top: 12%;
	color: white;
}

//@media screen and (max-width: 600px) {
//	#hero {
//		height: 400px;
//		margin-top: -120px;
//		background: url('../img/header-mobile.jpg') no-repeat left left;
//
//		h1 {
//			margin-bottom: 10px;
//			@include font-size(14);
//		}
//
//		p {
//			@include font-size(10);
//		}
//	}
//
//	.hero-content {
//		margin-top: 28%;
//		width: 95%;
//	}
//
//	.footer-col-2 li {
//		display: inline-block;
//		padding-right: 50px;
//	}
//}



.site-header {
	&.full {
		border-bottom: 1px solid transparent;

		&.dark {
			background: #424242;
			color: #c8c8c8;

			a {
				color: #c8c8c8;
			}

			.site-title {
				color: #c8c8c8;
			}
		}
	}
}

.site-title {
	@include font-size(12);
}

@media screen and (max-width: 600px) {
	.site-title {
		@include font-size(10);
	}
}

.site-nav .page-link {
	@include font-size(10);
}

@media screen and (max-width: 600px) {
	.site-nav {
		top: 13px!important;

		.menu-icon {
			padding-top: 7px!important;
		}
	}
}

img {
	margin: 0 auto;
	text-align: center;
	display: block;
}

.post-image {
	width: 250px;
	height: auto;
	display: inline-block;
	background: #888888;
	border: 1px solid #515050;
}

@media screen and (max-width: 600px) {
	.post-image {
		display: block;
		width: 100%;
	}
}

.post-data {
	display: inline-block;
	vertical-align: top;
	width: calc(90% - (250px));
	padding-left: 3%;
}

@media screen and (max-width: 600px) {
	.post-data {
		display: block;
		width: 100%;
		padding-left: 0;
	}
}

input[type="EMAIL"] {
	width: 85%;
	@include font-size(10);
	padding: 4px;
	color: #C7C7C7;
}

.button {
	@include font-size(10);
	padding: 7px 19px;
	background: #FFFFFF;
	border: 1px solid #515050;
	margin-top: 5px;
	transition: background-color 0.1s ease;

	&:hover {
		background: #E0E0E0;
		color: #151515;

	}
}

.twitter-plug {
	@include font-size(10);
	font-style: italic;
	margin-top: 50px;
}

.comments {
	border-top: 1px solid #e8e8e8;
	margin-top: 50px;
}
