---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.8;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #008EA8;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1024px;

$on-palm:          600px;
$on-laptop:        800px;

@mixin font-size($sizeValue: 16) {
	font-size: $sizeValue + px;
	font-size: ($sizeValue / 10) + rem;
}



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

::-moz-selection {
	background-color: $brand-color;
	color: #ffffff;
}

::selection {
	background-color: $brand-color;
	color: #ffffff;
}

.hero-content {
	width: 60%;
	margin-top: 12%;
	color: white;
}

.site-header {
	&.full {
		border-bottom: 1px solid transparent;

		&.dark {
			background: #424242;
			color: #c8c8c8;

			a {
				color: #c8c8c8;
			}

			.site-title {
				color: #c8c8c8;
			}
		}
	}
}

.site-title {
	@include font-size(12);
}

@media screen and (max-width: 600px) {
	.site-title {
		@include font-size(10);
	}
}

.site-nav .page-link {
	@include font-size(10);
}

@media screen and (max-width: 600px) {
	.site-nav {
		top: 13px!important;

		.menu-icon {
			padding-top: 7px!important;
		}

	}

	.site-header {
		&.full {
			&.dark {
				a {
					color: $grey-color-dark;
				}
			}
		}
	}

}

.col {
	float: left;
	margin-bottom: $spacing-unit / 2;
	padding-left: $spacing-unit / 2;
}

.col-1-3 {
	width: -webkit-calc(33% - (#{$spacing-unit} / 2));
	width:         calc(33% - (#{$spacing-unit} / 2));
}

@media screen and (max-width: 600px) {
	.col-1-3 {
		width: 100%;
		display: block;
	}
}


#features {
	text-align: center;

	img {
		width: 80px;
		height: 80px;
	}

	.col-1-3 {
		margin: 40px 0;
		padding: 0 15px;
		border-left: 1px solid $grey-color-light;
		@include font-size(10);

		&:first-child {
			border-left: 0;
		}
	}

}

@media screen and (max-width: 600px) {
	#features {
		.col-1-3 {
			border-left: 0;
			@include font-size(10);
		}
	}
}

.post-hero {
	background-position: center center;
	width: 100%;
	height: 400px;
	background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
	.post-hero {
		margin-top: -56px;
		margin-bottom: -50px;
	}

	.post-title {
		line-height: 1.4;
	}
}



img {
	margin: 0 auto;
	text-align: center;
	display: block;
}

.profile {
	display: inline-block;
	float: left;
	width: 300px;
	padding: 0 3% 0 0;
}

.post-image {
	width: 250px;
	height: auto;
	display: inline-block;
	background: #888888;
	border: 1px solid #515050;
}

@media screen and (max-width: 600px) {
	.post-image {
		display: block;
		width: 100%;
	}
}

.post-data {
	display: inline-block;
	vertical-align: top;
	width: calc(90% - (250px));
	padding-left: 3%;
}

@media screen and (max-width: 600px) {
	.post-data {
		display: block;
		width: 100%;
		padding-left: 0;
	}
}

input[type="EMAIL"] {
	width: 85%;
	@include font-size(10);
	padding: 4px;
	color: #C7C7C7;
}

.button {
	@include font-size(10);
	padding: 7px 19px;
	background: #FFFFFF;
	border: 1px solid #515050;
	margin-top: 5px;
	transition: background-color 0.1s ease;

	&:hover {
		background: #E0E0E0;
		color: #151515;

	}
}

.twitter-plug {
	@include font-size(10);
	font-style: italic;
	margin-top: 50px;
}

.comments {
	border-top: 1px solid #e8e8e8;
	margin-top: 50px;
}

.js-video {
	height: 0;
	padding-top: 25px;
	padding-bottom: 67.5%;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
}

.js-video.widescreen {
	padding-bottom: 56.34%;
}


.js-video embed, .js-video iframe, .js-video object, .js-video video {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}
